<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.article.recommend.mapper.localMapper.ExecutorDbRecordMapper" >
    <resultMap id="BaseResultMap" type="com.article.recommend.entity.ExecuteDbRecord" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="execute_type" property="executeType" jdbcType="VARCHAR" />
        <result column="before_id" property="beforeId" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="rownums" property="rownums"  javaType="Integer"/>
    </resultMap>

    <sql id="Base_Column_List" >
       id,execute_type,before_id,rownums
    </sql>
    <!-- 获取所有-->
    <select id="getAll" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_execute_db_record
    </select>
    <!--  根据类型查询 -->
    <select id="getExecuteDbRecord"  parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_execute_db_record
        WHERE  execute_type = #{executeType}
    </select>

    <!--  单笔插入 -->
    <insert id="insertExecuteDbRecord" parameterType="com.article.recommend.entity.ExecuteDbRecord" >
        INSERT INTO
        tb_execute_db_record
        (execute_type,befor_id,update_time,create_time)
        VALUES
        (#{executeType}, #{beforId},#{updateTime},#{createTime})
    </insert>
    <!-- 根据id 类型和截止编号修改信息-->
    <update id="updateExecuteDbRecord" parameterType="com.article.recommend.entity.ExecuteDbRecord" >
        UPDATE
        tb_execute_db_record
        SET
        <if test="beforeId != null">before_id = #{beforeId},</if>
        <if test="updateTime!=null ">update_time=#{updateTime}</if>
        WHERE
        execute_type = #{executeType}
    </update>


</mapper>