<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.article.recommend.mapper.informationmapper.ArticleMapper" >
    <resultMap id="information_BaseResultMap" type="com.article.recommend.entity.ArticleInfo" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="topic_id" property="topicId" jdbcType="BIGINT" />
        <result column="release_time" property="releaseTime" javaType="java.util.Date"/>
        <result column="source_url" property="sourceUrl" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="article_lables" property="articleLables" jdbcType="VARCHAR"/>

    </resultMap>


    <select id="queryArticles" parameterType="java.util.Map" resultMap="information_BaseResultMap">
        SELECT
          id,content,topic_id,release_time,source_url,title,article_lables
        from tb_article
        WHERE
            <![CDATA[ id > #{beforeId}  ]]>
            AND <![CDATA[ id <= #{endId}  ]]>
            order BY id
          limit #{from},#{end}
    </select>

    <select id="getCount" parameterType="java.util.Map" resultType="com.article.recommend.vo.DataVo">
        select count(1) as count,max(id) as maxId from tb_article
        WHERE  id > #{beforeId}
    </select>

</mapper>